<style>
  div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  img {
    width: 90%;
  }

  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }
</style>


東工大研究室

<a href="http://www.titech.ac.jp/graduate_school/news/pdf/H2804_bosyuyoko_master54967.pdf">

    大学院修士課程 平成28年　4月入学

  </a>

  <br>

  <%= form_for(@voice) do |f| %>
    <p>このサイトについての意見はこちら</p>
    <%= f.text_field :t %>
  <% end %>

  <div class='dialog'>
    <h1>いま開発中だよ！</h1>
    <%= image_tag("miharu_active.jpg") %>
  </div>

  <h1>時は戦国。各研究所が覇を争う時代。</h1>

  <div id='user_inf_window'>
    <div id='thumbnail'>
      <span id="thumbnail_image" style="background-image: url(/images/miharu.png)"></span>
    </div>
    <div id='user_inf'>
      <div id='name'>天枷研究所</div>
    </div>
  </div>

  <br><br>
<br><br>

https://twitter.com/noterara
