// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-bottom: 40px;
}

.navbar {
  min-height: 40px;
}

#site-footer {
  color: #AAA;
}
